
*
{
	font-family: "微软雅黑";
	font-size: 12px;
}
body,html{height:100%;}
body{ padding:0px; margin:0;   overflow:hidden;background: #EAEEF5;}  
.l-link{ display:block; text-decoration:none; color:#055494;}
.l-link2{text-decoration:underline; color:white; margin-left:2px;margin-right:2px;}
.l-layout-top{background:#102A49; color:White;}
.l-layout-bottom{ background:#E5EDEF; text-align:center;}
#pageloading{position:absolute; left:0px; top:0px; background:white url('../images/loading.gif') no-repeat center; width:100%; height:100%;z-index:99999;}

.l-link-over{ background:#FFEEAC; border:1px solid #DB9F00; width:190px;} 
.l-winbar{ background:#2B5A76; height:30px; position:absolute; left:0px; bottom:0px; width:100%; z-index:99999;}
.space{ color:#E7E7E7;}
/* 底部 */
#layout_bottom{ height: 30px; line-height: 30px; margin-top: 2px; text-align:left; padding-left:10px;
background-color: #4C9CCF; color:Yellow;} 
.bottom{height:31px; padding-top:6px; background-image:url(../images/FrameImages/bottom_bk.png); background-repeat:repeat-x;}
/* 隐藏控件 */
 .hidden
{
    height: 0px;
    width: 0px;
    border-width: 0px;
    background-color: Transparent;
}
/* 顶部 */ 
.l-topmenu{ background-image:url('../images/Title.png'); background-repeat:no-repeat;text-align:right; margin:0;width:100%;height:82px;position:relative; border-top:1px solid #1D438B; color:White; }

.l-topmenu-welcome{  position:absolute; height:24px; right:30px; top:60px;}
.l-topmenu-welcome a{ color:yellow; text-decoration:underline}
.l-topmenu-username{ color:yellow; font-weight:bold;} 
/* 菜单列表 */
.menulist{ margin-left:2px; margin-right:2px; margin-top:2px;text-align:left; color:#000;}
.menulist li{ height:24px; line-height:24px; padding-left:24px; display:block; position:relative; cursor:pointer; text-align:left;}
.menulist li img{ position:absolute; left:4px; top:4px; width:16px; height:16px;}
.menulist li.over{ background:url('../images/menuitem.gif') repeat-x 0px 0px;}
.menulist li.over .menuitem-l{background:url('../images/menuitem.gif') repeat-x 0px -24px; width:2px; height:24px; position:absolute; left:0; top:0;}
.menulist li.over .menuitem-r{background:url('../images/menuitem.gif') repeat-x -1px -24px; width:2px; height:24px; position:absolute; right:0; top:0;}
