/*通用部分*/
body
{
	font-family: Verdana, "微软雅黑";
	font-size: 12px;
	margin: 0px;
}
form
{
	margin: 0px;
}

/*Top页头部分*/
.Top
{
	background-image: url(../images/FrameImages/top_bk.jpg);
}

.top_icon_1_0
{
	background: url(../images/FrameImages/top_icon_1_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_1_1
{
	background: url(../images/FrameImages/top_icon_1_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_2_0
{
	background: url(../images/FrameImages/top_icon_2_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_2_1
{
	background: url(../images/FrameImages/top_icon_2_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_3_0
{
	background: url(../images/FrameImages/top_icon_3_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_3_1
{
	background: url(../images/FrameImages/top_icon_3_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_4_0
{
	background: url(../images/FrameImages/top_icon_4_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_4_1
{
	background: url(../images/FrameImages/top_icon_4_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_5_0
{
	background: url(../images/FrameImages/top_icon_5_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_5_1
{
	background: url(../images/FrameImages/top_icon_5_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_6_0
{
	background: url(../images/FrameImages/top_icon_6_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_6_1
{
	background: url(../images/FrameImages/top_icon_6_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_7_0
{
	background: url(../images/FrameImages/top_icon_7_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_7_1
{
	background: url(../images/FrameImages/top_icon_7_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_8_0
{
	background: url(../images/FrameImages/top_icon_8_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_8_1
{
	background: url(../images/FrameImages/top_icon_8_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_xykh_0
{
	background: url(../images/FrameImages/top_icon_xykh_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_xykh_1
{
	background: url(../images/FrameImages/top_icon_xykh_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_tdt_0
{
	background: url(../images/FrameImages/top_icon_tdt_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_tdt_1
{
	background: url(../images/FrameImages/top_icon_tdt_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.top_icon_xxgx_0
{
	background: url(../images/FrameImages/top_icon_xxgx_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_xxgx_1
{
	background: url(../images/FrameImages/top_icon_xxgx_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.top_icon_yhgl_0
{
	background: url(../images/FrameImages/top_icon_yhgl_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
	background-color:rgb(215,215,215);
	color:Black;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}

.top_icon_yhgl_1
{
	background: url(../images/FrameImages/top_icon_yhgl_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-align:center;
	background-color:rgb(67,100,169);
	color:White;
	font-weight:bold;
	font-size:16px;
}

.top_icon_xxcj_0
{
	background: url(../images/FrameImages/top_icon_xxcj_0.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
	background-color:rgb(215,215,215);
	color:Black;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}


.top_icon_xxcj_1
{
	background: url(../images/FrameImages/top_icon_xxcj_1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-align:center;
	background-color:rgb(67,100,169);
	color:White;
	font-weight:bold;
	font-size:16px;
}



/*Left菜单部分*/

#leftmenu
{
	position: absolute;
	top: 100px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 150px;
}
.menuSpan
{
	/*background:url(../images/left_icon_2_1_0.jpg) no-repeat;*/
	width: 150px;
	height: 4px;
	background: rgb(67,100,169);
}
.menuSpan_1
{
	/*background:url(../images/left_icon_2_1_0.jpg) no-repeat;*/
	width: 150px;
	height: 4px;
	background: rgb(50,73,125);
}
.left_icon_leave
{
	background-color:   RGB(101,128,183);
	width: 150px;
	height: 45px;
	cursor: pointer;
	font-size: 16px;
	font-family: 微软雅黑;
	color: RGB(238,238,238);
	font-weight: bold;
	vertical-align: middle;
	padding:0;
}

.left_icon_over
{
	background-color: RGB(238,238,238);
	width: 150px;
	height: 45px;
	cursor: pointer;
	font-size: 16px;
	font-family: 微软雅黑;
	color: RGB(101,128,183);
	font-weight: bold;
	vertical-align:middle;
	padding:0;
}

.left_icon_leave table
{
	width: 150px;
}

.left_icon_leave table tr td
{ 
	padding:0;
}

.left_icon_over  table tr td
{ 
	padding:0;
}

.tdImg
{
	vertical-align: middle; text-align: right; width: 40px; padding:0; margin-right:0;
}
.tdFont
{
	vertical-align: middle; text-align: left; width: 110px; padding:0;  margin-left:0; margin-right:0; 
}

