*
{
	font-family: "微软雅黑";
	font-size: 12px;
}
body
{
	margin:0px;
    text-align: center;
    background-image:url(../images/LoginBackImg.png);
    background-repeat:repeat;
}
#login
{
    width: 660px;
    margin: 0 auto;
    font-size: 12px;
}
#loginlogo
{
    width: 660px;
    height: 100px;
    overflow: hidden;
    /*background-image:url('images/logo.jpg'); background-repeat:no-repeat;*/  
    margin-top: 50px;
}
#loginpanel
{
    width: 660px;
    position: relative;
    height: 350px;
}
.panel-h
{
    width: 660px;
    height: 77px;
    background: url('../images/panel-h.png') no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.panel-f
{
    width: 660px;
    height: 83px;
    background: url('../images/panel-f.png') no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}
.panel-c
{
    z-index: 2;
    background: url('../images/panel-c.png') no-repeat;
    width: 660px;
    height: 190px;
    position: absolute;
    left: 0px;
    top:77px;
}

.login-text
{
    height: 24px;
    left: 24px;
    border: 1px solid #4083AA;
    background: #f9f9f9;
}
.login-text-focus
{
    border: 1px solid #E6BF73;
}
.login-btn
{
    width: 168px;
    height: 55px;
    color: #E9FFFF;
    line-height: 29px;
    background: url('../images/login-btn.png') no-repeat;
    border: none;
    overflow: hidden;
    cursor: pointer;
    
}
#txtUsername, #txtPassword
{
    width: 180px;
}
