<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wxjzgcjczy.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReceiveDataServiceHttpBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://58.213.147.230:8000/tDataService/ReceiveDataService.ws"
        binding="basicHttpBinding" bindingConfiguration="ReceiveDataServiceHttpBinding"
        contract="ReceiveDataServiceSpace.ReceiveDataServicePortType"
        name="ReceiveDataServiceHttpPort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Wxjzgcjczy.BLL.Properties.Settings>
      <setting name="MunSupervisionProject_BLL_WebReference_WebServiceSendMSG"
        serializeAs="String">
        <value>http://221.224.147.148/ZJGSMGService/WebServiceSendMSG.asmx</value>
      </setting>
      <setting name="Wxjzgcjczy_BLL_NewDataService_NewDataService"
        serializeAs="String">
        <value>http://58.213.147.243:8080/jscedc/services/NewDataService.NewDataServiceHttpSoap11Endpoint/</value>
      </setting>
    </Wxjzgcjczy.BLL.Properties.Settings>
  </applicationSettings>
</configuration>