<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Config" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Config">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="TreeConfigMFileUrl" type="xs:string" minOccurs="0" />
                <xs:element name="TreeConfigEFileUrl" type="xs:string" minOccurs="0" />
                <xs:element name="RootUrl" type="xs:string" minOccurs="0" />
                <xs:element name="ReportServerUrl" type="xs:string" minOccurs="0" />
                <xs:element name="ReportRootPath" type="xs:string" minOccurs="0" />
                <xs:element name="TurnOnDebug" type="xs:string" minOccurs="0" />
                <xs:element name="TurnOnCache" type="xs:boolean" minOccurs="0" />
                <xs:element name="TurnOnTransaction" type="xs:boolean" minOccurs="0" />
                <xs:element name="LoginPageUrl" type="xs:string" minOccurs="0" />
                <xs:element name="ReloginPageUrl" type="xs:string" minOccurs="0" />
                <xs:element name="ModifyPasswordPageUrl" type="xs:string" minOccurs="0" />
                <xs:element name="DatabaseType" type="xs:string" minOccurs="0" />
                <xs:element name="ConnectionString" type="xs:string" minOccurs="0" />
                <xs:element name="ConnectionString_webplat50" type="xs:string" minOccurs="0" />
                <xs:element name="UpFileConnectionString" type="xs:string" minOccurs="0" />
                <xs:element name="DebugBigFileUpload" type="xs:boolean" minOccurs="0" />
                <xs:element name="UpFileMaxChunkSize" type="xs:long" minOccurs="0" />
                <xs:element name="UpFileMaxSize" type="xs:long" minOccurs="0" />
                <xs:element name="Area" type="xs:string" minOccurs="0" />
                <xs:element name="ThemeInUsingA" type="xs:string" minOccurs="0" />
                <xs:element name="ThemeInUsingB" type="xs:string" minOccurs="0" />
                <xs:element name="ThemeInUsingC" type="xs:string" minOccurs="0" />
                <xs:element name="SignInAppUserSessionName" type="xs:string" minOccurs="0" />
                <xs:element name="SystemCode" type="xs:string" minOccurs="0" />
                <xs:element name="SystemName" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <Config>
    <!--功能树配置文件URL(绝对虚拟路径)，必须以“/”开头。-->
    <TreeConfigMFileUrl>../Config/WxjzgcjczyQyb_MTreeView.config</TreeConfigMFileUrl>
    <TreeConfigEFileUrl>../Config/WxjzgcjczyQyb_ETreeView.config</TreeConfigEFileUrl>
    <!--根URL，必须以“/”开头和结尾。-->
    <RootUrl>/WxjzgcjczyQybPage/</RootUrl>
    <ReportServerUrl>http://10.1.1.3/ReportServer</ReportServerUrl>
    <ReportRootPath>/WxjzgcjczyQyb.Report/</ReportRootPath>
    <TurnOnDebug>true</TurnOnDebug>
    <TurnOnCache>false</TurnOnCache>
    <TurnOnTransaction>true</TurnOnTransaction>
    <LoginPageUrl>/WxjzgcjczyQybPage/Login.aspx?url=/WxjzgcjczyQybPage/Index.aspx</LoginPageUrl>
    <ReloginPageUrl>/WxjzgcjczyQybPage/Login.aspx?url=/WxjzgcjczyQybPage/Index.aspx&amp;exit=exit</ReloginPageUrl>
    <ModifyPasswordPageUrl>/WxjzgcjczyQybPage/Password_Modify.aspx?url=/WxjzgcjczyQybPage/Login.aspx?url=/WxjzgcjczyQybPage/Index.aspx</ModifyPasswordPageUrl>
    <DatabaseType>sqlserver2008</DatabaseType>
    
    <ConnectionString>data source=10.1.1.3;user id=sa;password=Morningstars_123;database=WJSJZX</ConnectionString>
    <ConnectionString_webplat50>data source=10.1.1.3;user id=sa;password=Morningstars_123;database=WebPlat50</ConnectionString_webplat50>
    <UpFileConnectionString>data source=10.1.1.3;user id=sa;password=Morningstars_123;database=ztbggwjk</UpFileConnectionString>

    <!-- 如果开启文件上传调试功能，则上传过程中的异常会及时在界面上报出 -->
    <DebugBigFileUpload>true</DebugBigFileUpload>

    <!-- 上传文件最大传输块大小，以字节(Byte)为单位。 -->
    <UpFileMaxChunkSize>524288</UpFileMaxChunkSize>

    <!-- 允许上传的最大文件大小，以字节(Byte)为单位。 -->
    <UpFileMaxSize>1048576</UpFileMaxSize>

    <Area>CS</Area>
    <ThemeInUsingA>WxjzgcjczyQyb_A_Theme</ThemeInUsingA>
    <ThemeInUsingB>WxjzgcjczyQyb_B_Theme</ThemeInUsingB>
    <ThemeInUsingC>WxjzgcjczyQyb_C_Theme</ThemeInUsingC>
    <SignInAppUserSessionName>BuildingProject_SignInAppUser</SignInAppUserSessionName>
    <SystemCode>WxjzgcjczyQybSystem</SystemCode>
    <SystemName>南京群耀通用权限管理系统</SystemName>
  </Config>
</NewDataSet>