declare @dbName nvarchar(100), @sql nvarchar(1000);
set @dbName = 'ZJGCQFX';  --只需在这里修改一下需要清除日志的数据库名称
set @sql = '
			declare @logName nvarchar(100)
			use master
			--先将目标数据库切换到简单模式
            ALTER DATABASE ' + @dbName + ' SET RECOVERY SIMPLE WITH NO_WAIT
            ALTER DATABASE ' + @dbname + ' SET RECOVERY SIMPLE
            
            --获取目标数据库的日志名称
            USE ' + @dbName + '
            select @logName = name from sys.database_files where type_desc = ''LOG''
            
            --清除日志
            DBCC SHRINKFILE (@logName , 11, TRUNCATEONLY)
            
            use master
            --将目标数据库恢复到完全模式
            ALTER DATABASE ' + @dbName + ' SET RECOVERY FULL WITH NO_WAIT
            ALTER DATABASE ' + @dbname + ' SET RECOVERY FULL
            ';
exec (@sql);

