<?xml version="1.0" standalone="yes"?>
<NewDataSet>
	<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
		<xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Config" msdata:UseCurrentLocale="true">
			<xs:complexType>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="Config">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TreeConfigFileUrl" type="xs:string" minOccurs="0" />
								<xs:element name="SparkClientPath" type="xs:string" minOccurs="0" />
								<xs:element name="TurnOnDebug" type="xs:string" minOccurs="0" />
								<xs:element name="TurnOnCache" type="xs:boolean" minOccurs="0" />
								<xs:element name="TurnOnTransaction" type="xs:boolean" minOccurs="0" />
								<xs:element name="SingleSignInLoginIDSessionName" type="xs:string" minOccurs="0" />
								<xs:element name="SignInAppUserSessionName" type="xs:string" minOccurs="0" />
								<xs:element name="LoginPageUrl" type="xs:string" minOccurs="0" />
								<xs:element name="ModifyPasswordPageUrl" type="xs:string" minOccurs="0" />
								<xs:element name="DatabaseType" type="xs:string" minOccurs="0" />
								<xs:element name="DatabaseType_Sqlserver" type="xs:string" minOccurs="0" />
								<xs:element name="ConnectionString" type="xs:string" minOccurs="0" />
								<xs:element name="ConnectionString_Sqlserver" type="xs:string" minOccurs="0" />
								<xs:element name="DebugBigFileUpload" type="xs:boolean" minOccurs="0" />
								<xs:element name="UpFileMaxChunkSize" type="xs:long" minOccurs="0" />
								<xs:element name="UpFileMaxSize" type="xs:long" minOccurs="0" />
								<xs:element name="FileUploaderUrl" type="xs:string" minOccurs="0" />
								<xs:element name="FileViewerUrl" type="xs:string" minOccurs="0" />
								<xs:element name="ReportServerUrl" type="xs:string" minOccurs="0" />
								<xs:element name="ReportRootPath" type="xs:string" minOccurs="0" />
								<xs:element name="ThemeInUsing" type="xs:string" minOccurs="0" />
								<xs:element name="Theme2InUsing" type="xs:string" minOccurs="0" />
								<xs:element name="ServiceUserName" type="xs:string" minOccurs="0" />
								<xs:element name="ServicePassword" type="xs:string" minOccurs="0" />
								<xs:element name="LoginErrorWait" type="xs:string" minOccurs="0" />
								<xs:element name="AllowLoginCount" type="xs:string" minOccurs="0" />
								<xs:element name="VerificationCode_SessionName" type="xs:string" minOccurs="0" />
								<xs:element name="ValidateName" type="xs:string" minOccurs="0" />
								<xs:element name="ValidatePass" type="xs:string" minOccurs="0" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:complexType>
		</xs:element>
	</xs:schema>
	<Config>
		<!--功能树配置文件URL(绝对虚拟路径)，必须以“/”开头。-->
		<TreeConfigFileUrl>../../WxjzgcjczyPage/Config/WxjzgcjczyView.config</TreeConfigFileUrl>
		<!--SparkClient目录的绝对虚拟路径，必须以/开头和结尾-->
		<SparkClientPath>/Wxjzgcjczy/SparkClient/</SparkClientPath>
		<TurnOnDebug>true</TurnOnDebug>
		<TurnOnCache>false</TurnOnCache>
		<TurnOnTransaction>true</TurnOnTransaction>
		<SingleSignInLoginIDSessionName>SingleSignInLoginID</SingleSignInLoginIDSessionName>
		<SignInAppUserSessionName>Wxjzgcjczy_SignInUserInfo</SignInAppUserSessionName>
		<LoginPageUrl>/WxjzgcjczyPage/Login.htm</LoginPageUrl>
		<ModifyPasswordPageUrl>/modifyPassword.aspx</ModifyPasswordPageUrl>
		<!---->
		<DatabaseType>ORACLE11G</DatabaseType>
		<DatabaseType_Sqlserver>sqlserver2008</DatabaseType_Sqlserver>
		<!---->
		<ConnectionString>Data Source=ORCL;Persist Security Info=True;User ID=EPOINT_WXSZJS2;Password=11111;Unicode=True</ConnectionString>
		<ConnectionString_Sqlserver>data source=192.168.153.188;Initial Catalog=WJSJZX;user id=sa;password=wxjsj^20150409;</ConnectionString_Sqlserver>
		<!-- [local database] <ConnectionString_Sqlserver>data source=localhost;Initial Catalog=WJSJZX;user id=sa;password=GHadmin1234;</ConnectionString_Sqlserver>-->

		<!--<ConnectionString>User ID=EPOINT_WXSZJS2;Password=11111;Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = orcl)))</ConnectionString>-->

		<!-- 如果开启文件上传调试功能，则上传过程中的异常会及时在界面上报出 -->
		<DebugBigFileUpload>true</DebugBigFileUpload>

		<!-- 上传文件最大传输块大小，以字节(Byte)为单位。 -->
		<UpFileMaxChunkSize>524288</UpFileMaxChunkSize>

		<!-- 允许上传的最大文件大小，以字节(Byte)为单位。 -->
		<UpFileMaxSize>1073741824</UpFileMaxSize>
		<FileUploaderUrl>http://localhost:4242/Majordomo/UploadHandler/FileUploader.aspx</FileUploaderUrl>
		<FileViewerUrl>http://localhost:4242/Majordomo/UploadHandler/FileListView.aspx</FileViewerUrl>
		<ReportServerUrl>http://218.4.64.90/ReportServer</ReportServerUrl>
		<ReportRootPath>/Wxjzgcjczy.Report/</ReportRootPath>
		<ThemeInUsing>MunSupervisionProject_Theme</ThemeInUsing>
		<Theme2InUsing>Themes_Standard</Theme2InUsing>
		<ServiceUserName>wxjsj</ServiceUserName>
		<ServicePassword>wxjsj123!@#</ServicePassword>
		<LoginErrorWait>15</LoginErrorWait>
		<AllowLoginCount>5</AllowLoginCount>
		<VerificationCode_SessionName>WxjzgcjczyPage_VerificationCode</VerificationCode_SessionName>
		<ValidateName>XXZYGL</ValidateName>
		<ValidatePass>XXZYGL_2015</ValidatePass>

	</Config>
</NewDataSet>