<?xml version="1.0" standalone="yes"?>
<xmlroot>
  <!--***********************   管理版菜单 begin   *****************************-->
  
  <TreeConfig>
    <ParentNodeID>10000000</ParentNodeID>
    <NodeID>10001000</NodeID>
    <Checked>false</Checked>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl></ImageUrl>
    <NavigateUrl></NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target></Target>
    <Text>市政企业主题库</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU1:基本信息-->
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001010</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Szqyxx_List.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>市政企业信息</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001010</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Jbxx_View.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>基本信息</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU2:资质信息-->
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001020</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Zzxx_List.aspx?QyID=1</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>资质信息</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:证书信息-->
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Zsxx_List.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>证书信息</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:信用信息-->
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Xyxx_View.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>信用信息</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:承揽工程-->
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Zyryxx_clgc_List.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>承揽工程</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:执业人员-->
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Zyryxx_List.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>执业人员</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <TreeConfig>
    <ParentNodeID>10001000</ParentNodeID>
    <NodeID>10001040</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szqy/Zyryxx_jxsb_List.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>机械设备</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>

  <TreeConfig>
    <ParentNodeID>10000000</ParentNodeID>
    <NodeID>10002000</NodeID>
    <Checked>false</Checked>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl></ImageUrl>
    <NavigateUrl></NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target></Target>
    <Text>市政工程主体库</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU1:基本信息-->
  <TreeConfig>
    <ParentNodeID>10002000</ParentNodeID>
    <NodeID>10002010</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szgcztk/</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>基本信息</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU2:参见主体-->
  <TreeConfig>
    <ParentNodeID>10002000</ParentNodeID>
    <NodeID>10002020</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szgcztk/Cjzt.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>参建主体</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:	建设程序-->
  <TreeConfig>
    <ParentNodeID>10002000</ParentNodeID>
    <NodeID>10002030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szgcztk/Jscx.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>建设程序</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:	合同履约-->
  <TreeConfig>
    <ParentNodeID>10002000</ParentNodeID>
    <NodeID>10002030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szgcztk/Htlv.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>合同履约</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  <!-- SUBMENU3:	验收交付-->
  <TreeConfig>
    <ParentNodeID>10002000</ParentNodeID>
    <NodeID>10002030</NodeID>
    <Checked>false</Checked>
    <ModuleCode></ModuleCode>
    <Expanded>false</Expanded>
    <ImageToolTip></ImageToolTip>
    <ImageUrl>Common/icons/archives.gif</ImageUrl>
    <NavigateUrl>Szgcztk/Ysjf.aspx</NavigateUrl>
    <ShowCheckBox>false</ShowCheckBox>
    <Target>rightFrame</Target>
    <Text>验收交付</Text>
    <ToolTip></ToolTip>
    <Value></Value>
    <RightInfo>不需要权限</RightInfo>
    <AlwaysShow>true</AlwaysShow>
  </TreeConfig>
  
  
</xmlroot>